<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Offline</key>
	<string>0</string>
	<key>Callback</key>
	<string>http://192.168.1.2/~Geri/Urbian/</string>
	<key>DetectPhoneNumber</key>
	<integer>1</integer>
	<key>StartSound</key>
	<string>1</string>
	<key>LinkToolBar</key>
	<dict/>
	<key>Link_1</key>
	<string>change_module(&apos;feed&apos;, &apos;module_divShift_feed.php&apos;, &apos;isApp=1&apos;);</string>
	<key>Link_2</key>
	<string>change_module(&apos;contacts&apos;, &apos;module_divShift_contacts.php&apos;, &apos;isApp=1&apos;);</string>
	<key>Link_3</key>
	<string>change_module(&apos;locations&apos;, &apos;module_divShift_locations.php&apos;, &apos;isApp=1&apos;);</string>
	<key>Link_4</key>
	<string>change_module(&apos;messages&apos;, &apos;module_divShift_messages.php&apos;, &apos;isApp=1&apos;);</string>
	<key>Link_5</key>
	<string>change_module(&apos;ublogs&apos;, &apos;module_divShift_ublogs.php&apos;, &apos;isApp=1&apos;);</string>
</dict>
</plist>
